# WalletConnect project ID for Web3 wallet connections (used in SIWE)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Secret key for NextAuth.js session encryption and JWT signing
NEXTAUTH_SECRET=
# Whether to trust the host for authentication
# https://authjs.dev/getting-started/deployment#auth_trust_host
AUTH_TRUST_HOST=

# Endpoint URL for the Pattern Core API service
PATTERN_CORE_ENDPOINT=

# API token for Axiom logging service
NEXT_PUBLIC_AXIOM_TOKEN=
# Dataset name for Axiom logging service
NEXT_PUBLIC_AXIOM_DATASET=

# Connection string of Vercel Edge Store
EDGE_CONFIG=
